@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Regular.eot');
    src: url('./fonts/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Regular.woff2') format('woff2'),
         url('./fonts/Vazir-Regular.woff') format('woff'),
         url('./fonts/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Amiri-Regular.woff2') format('woff2'),
         url('./fonts/Amiri-Regular.woff') format('woff');
}
:lang(ar) {
  -moz-font-feature-settings:"calt=1, liga=1, clig=1, kern=1";
  -moz-font-feature-settings:"calt", "liga", "clig", "kern";
  -ms-font-feature-settings:"calt", "liga", "clig", "kern";
  -webkit-font-feature-settings:"calt", "liga", "clig", "kern";
  font-feature-settings:"calt", "liga", "clig", "kern";
  text-rendering: optimizeLegibility;
  font-family: Vazir, serif;
  /* Amiri */
  /*
  font-size: *1.5em;
  line-height: 200%;
  */
  /* Vazir */
  font-size: 1.0em; /*1.5em;*/
  line-height: 100%;
}
.smallcaps {
  font-variant: small-caps;
}
/* Gitbook body text font settings */
.book.font-family-0 {
  font-family: "Junicode", "STIX Two Text", "Gentium Plus", FreeSerif, serif;
  font-variant-numeric: oldstyle-nums;
}
.book.font-family-1 {
  font-family: Andika, FreeSans, sans-serif;
}
/* Gitbook TOC pane font settings. This is affecting lists in the body text too..
li {
  font-family: Andika, sans-serif;
}
*/
